.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.footer  {
  position: fixed;
  left: 0;
  bottom: -25px;
  width: 100%;
  text-align: center;
  margin-top: auto;
  font-size: 1rem;
  padding: 1.5rem 0;
  font-weight: bold;
  background-color: black;
  padding-top: 0.5%;
}

.footer__copyright {
  color: #fff;
  font-size: 1rem;
  text-align: center;
  line-height: 2.1rem;
}

.footer_link {
  text-decoration: none;
  color: rgba(248,6,22,0.870588);
}
  .footer_link :hover {
    color:orangered;
}